body
 {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     background-position: center;
 }
 .sign-in
 {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(224, 116, 116, 0.3);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    background: white;
}
.input-box
{
    width: 100%;
    border: 1px solid #999;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    outline: none;
}
.signin-btn
{
    background-color: #1c8adb;
}
 }
 
 button
 {
    color:#fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
 }
 .signin-btn
 {
    color:#fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
 }
 img
 {
     width: 70px;
     margin-top: -50px;
 }