body
 {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fbackgrounds%2Fapps%2Fpowerpoint&psig=AOvVaw067IOO-o5LA_5TiFIi0S61&ust=1624867241888000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCICJ6Kmst_ECFQAAAAAdAAAAABAD);
     background-image: cover;
     background-position: center;
 }
 signup-btn
 {
    color:#fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    margin: 10px 0;
    cursor: pointer;

 }
 .sign-up-form
 {
     width: 300px;
     box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
     padding: 20px;
     margin: 8% auto 0;
     text-align: center;
 }
 .sign-up-form h1
 {
     color: #21afde;
     margin-bottom: 30px;
 }
 .input-box
 {
     width: 100%;
     border: 1px solid #999;
     border-radius: 20px;
     padding: 10px;
     margin: 10px 0;
     outline: none;
 }
 button
 {
     color:#fff;
     width: 100%;
     padding: 10px;
     border-radius: 20px;
     font-size: 15px;
     border: none;
     outline: none;
     margin: 10px 0;
     cursor: pointer;
 }
 .signup-btn
 {
     background-color: #1c8adb;
 }
 .google-btn
 {
     background-color: #21afde;
 }
 a
 {
     text-decoration: none;
 }
 hr
 {
     margin-top: 20px;
     width: 80%;
 }
 .or
 {
     background: #fff;
     width: 30px;
     margin: -19px auto 10px;
 }
 img
 {
     width: 70px;
     margin-top: -50px;
 }